<div class = "new-inst-form">
  <h4 class="mb-2">Create your instructor profile:</h4>
  <%= simple_form_for(@instructor) do |f| %>
    <%= f.input :gender, :collection => ["male", "female", "non-binary"] %>
    <%= f.input :description, label: "Tell your students about you and your services:" %>
    <%= f.input :phone, label: "Your Whatsapp phone number:" %>
    <% @instructor.instructor_languages.each do |language| %>
      <% if policy(language).destroy? %>
        <div><%= language.language.name %> <%= link_to "X", language, method: :delete %></div>
      <% end %>
    <% end %>
      <div class="form-group w-100">
        <label for="instructor[languages][]">Select the languages you speak:</label>
        <select id="tag-selector" class="form-control mr-sm-2 mb-3" name="instructor[languages][]" multiple="multiple">
          <% @available_languages.each do |language| %>
            <option value="<%= language.id %>"><%= language.name %></option>
          <% end %>
        </select>
      </div>
    <% @instructor.instructor_locations.each do |location| %>
      <% if policy(location).destroy? %>
        <div><%= location.location.name %> <%= link_to "X", location, method: :delete %></div>
      <% end %>
    <% end %>
    <div class="form-group w-100">
      <label for="instructor[locations][]">Select the locations you serve:</label>
        <select id="tag-selector-2" class="form-control mr-sm-2 mb-3" name="instructor[locations][]" multiple="multiple">
          <% @available_locations.each do |location| %>
            <option value="<%= location.id %>"><%= location.name %></option>
          <% end %>
        </select>
      </div>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload a profile picture" %>
    <%= f.submit "Continue", class: "btn btn-primary" %>
  <% end %>
</div>
