<div class="content">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h2 class="my-4 text-center">Search Instructors:</h2>
          <form class="" action="/instructors">
            <div class="d-flex justify-content-between">
              <input class="form-control mr-sm-2 mb-3 w-60" type="text" name="search[city]" placeholder="Enter City" aria-label="Search">
              <div class="form-group w-100">
              </div>
            <%= link_to instructors_path do %>
              <i class="fas fa-sync mt-2 ml-2"></i>
            <% end %>
            </div>
            <div class="d-flex align-items-center">
              <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseExample">
                  Category
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Languages
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Gender
                </button>
              </p>
              <div class="collapse" id="collapseCategory">
                <div class="card card-body">
                  Category Tags.
                </div>
              </div>
              <div class="collapse" id="collapseLanguages">
                <div class="card card-body">
                  Languages Tags.
                </div>
              </div>
              <div class="collapse" id="collapseGender">
                <div class="card card-body">
                  Gender Tags.
                </div>
              </div>
              <button class="btn btn-outline-success px-4 my-2 my-sm-0 align-self-end" type="submit">Search</button>
            </div>
          </form>  
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10">
          <% @instructors.each do |instructor| %>
          <% if instructor.photos.attached? %>
          <div class="col-md-12">
            <div class="costume-card card m-4 p-3 flex-row">
              <div class="row w-100">
                <div class="col-md-4">
                  <%= cl_image_tag instructor.photos.first.key %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <div class="col-sm">
                        <div class="card-body">
                          <h3 class="card-title"><%= link_to instructor.user.first_name, instructor_path(instructor)  %></h3>
                          <p class="card-text"><%= instructor.description %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="col-md-4">
          <div id="map"
          style="width: 100%; height: 100vh; top:60px"
          class= "position-fixed"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
