<div class="container-fluid py-5">
  <div>
    <form class="" action="/instructors">
      <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="d-flex justify-content-between">
              <input class="form-control mr-sm-2 w-60" type="text" name="search[location]" placeholder="Enter City" aria-label="Search">
            </div>
        </div>
        <div class="d-flex">
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="categoryMenu">
              <div class="check-box mr-5">
                <% ["beginner", "intermediate", "photo"].each do |category| %>
                  <div class="d-flex">
                    <label for="<%= category %>"><%= category.capitalize %></label>
                    <input  type="checkbox" value="<%= category %>" id="<%= category %>" name="search[package]">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Languages
            </button>
            <div class="dropdown-menu" aria-labelledby="languageMenu">
              <div class="check-box mr-5">
                <% ["English", "German", "French", "Spanish", "French", "Russian", "Japanese", "Korean"].each do |language| %>
                <div class="d-flex">
                  <label for="<%= language %>"><%= language.capitalize %></label>
                  <input  type="checkbox" value="<%= language %>" id="<%= language %>" name="search[language]">
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="genderMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gender
            </button>
            <div class="dropdown-menu" aria-labelledby="genderMenu">
            <div class="check-box mr-5">
              <% ["Male", "Female", "Non-Binary"].each do |gender| %>
              <div class="d-flex">
                <label for="<%= gender %>"><%= gender.capitalize %></label>
                <input  type="checkbox" value="<%= gender %>" id="<%= gender %>" name="search[gender]">
              </div>
              <% end %>
            </div>
          </div>
          </div>
          <button class="btn btn-outline-success px-4 my-2 my-sm-0 align-self-end" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
<div class="row mt-5 instructor-card-page">
  <div class="col-md-10">
    <% @instructors.each do |instructor| %>
      <% if instructor.photos.attached? %>
        <div class="instructor-card-div card flex-row my-4">
          <div class="row w-100">
            <div class="col-md-4 instructor-image-div">
              <%= cl_image_tag instructor.photos.first.key, class: "instructor-image" %>
            </div>
            <div class="col-md-5 column h-100 card-center-div">
              <div class="card-title-div">
                <h3><%= link_to instructor.user.first_name.capitalize, instructor_path(instructor)  %></h3>
              </div>
              <div class="card-text-div">
                <p class="card-text"><%= instructor.description %></p>

              </div>
              <% if instructor.average_rating %>
              <div class="row card-review-div">
                <div class="col-md-3">
                  <p class="card-text">Rated: <%= instructor.average_rating %></p>
                </div>
                <div class="col-md-9 column">
                  <% instructor.average_rating.times do %>
                  <i class="colornice fas fa-star"></i>
                  <% end %>
                </div>
              </div>
             <% end %>
            </div>
            <div class="col-md-3">
              <div class="card-category-div">
                <div>
                  <% instructor.instructor_packages.order(:price).each do |i_package| %>
                  <p><%= i_package.package.title %>: <%= i_package.price %></p>
                  <% end %>
                </div>

                <div class="mb-1 w-80">
                  <p class="button button-secondary card-view-button"><strong>View</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



