<div class="container-fluid py-5">
  <div>
    <form class="" action="/instructors">
      <div class="row justify-content-center w-100">
     
        <div class="col-md-3">
            <div class="d-flex justify-content-between">
              <input class="form-control mr-sm-2 w-60" type="text" name="search[location]" placeholder="Enter City" aria-label="Search">
            </div>
        </div>
        <div class="d-flex">
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="categoryMenu">
              <div class="check-box mr-5">
                <% ["beginner", "intermediate", "photo"].each do |category| %>
                  <div class="d-flex">
                    <label for="<%= category %>"><%= category.capitalize %></label>
                    <input  type="checkbox" value="<%= category %>" id="<%= category %>" name="search[package]">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Languages
            </button>
            <div class="dropdown-menu" aria-labelledby="languageMenu">
              <div class="check-box mr-5">
                <% ["English", "German", "French", "Spanish", "French", "Russian", "Japanese", "Korean"].each do |language| %>
                <div class="d-flex">
                  <label for="<%= language %>"><%= language.capitalize %></label>
                  <input  type="checkbox" value="<%= language %>" id="<%= language %>" name="search[language]">
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="genderMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gender
            </button>
            <div class="dropdown-menu" aria-labelledby="genderMenu">
            <div class="check-box mr-5">
              <% ["Male", "Female", "Non-Binary"].each do |gender| %>
              <div class="d-flex">
                <label for="<%= gender %>"><%= gender.capitalize %></label>
                <input  type="checkbox" value="<%= gender %>" id="<%= gender %>" name="search[gender]">
              </div>
              <% end %>
            </div>
          </div>
          </div>
          <button class="btn btn-outline-success px-4 my-2 my-sm-0 align-self-end" type="submit">Search</button>
        </div>
      </div>
  
    </form>
  </div>

    <div class="row justify-content-center">
        <% @instructors.each do |instructor| %>
        <div class="mt-5 col-md-10 justify-content-center">
          <div class="w-100 instructor-card-div-outer p-1 pr-3"> 
          <% if instructor.photos.attached? %>
            <div class="instructor-card-div card flex-row my-4 w-100  ">
              <div class="row w-100 jade-background">
                <div class="col-md-4 instructor-image-div">
                  <%= cl_image_tag instructor.photos.first.key, class: "instructor-image" %>
                </div>
                <div class="col-md-4 column h-100 card-center-div pt-2 bg-white">
                  <div class="card-title-div pt-2 border-left-radius">
                    <h3><%= link_to instructor.user.first_name.capitalize, instructor_path(instructor)  %></h3>
                  </div>
                  <div class="card-text-div-div">
                    <p class="card-text"><%= instructor.description %></p>
                  </div>
                  <% if instructor.average_rating %>
                    <div class="row card-review-div">
                      <div class="col-md-3 border-bottom-left-radius-16px pr-0 pt-1">
                        <p class="card-text pr-0">Rated:</p>
                      </div>
                      <div class="col-md-2 column pl-0">
                        <p class="btn button-secondary"><%= instructor.average_rating.to_f %></p>
                      </div>
                      <div class="col-md-7 column pt-1">
                        <% instructor.average_rating.times do %>
                        <i class="colornice fas fa-star"></i>
                        <% end %>
                      </div>
                  </div>
                  <% end %>
                </div>
                <div class="col-md-4 bg-white border-right-radius">
                  
                    <div class="card-category-div row col-md-12 pt-3">
                      <% instructor.instructor_packages.order(:price).each do |i_package| %>
                      <div class="column col-md-8"><%= i_package.package.title %>:</div><div class="column col-md-4"> <%= i_package.price %></div>
                      <% end %>
                    </div>
                  
                  <div class="w-80">
                    <p><%= link_to "View", instructor_path(instructor), class: "button button-secondary card-view-button font-weight-bold"  %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
          </div>
        <% end %>
        </div>
      </div>
   </div>    



