<div class="container-fluid py-5">
  <form class="" action="/instructors">
    <div class="row">
      <div class="col-md-3">
          <div class="d-flex justify-content-between">
            <input class="form-control mr-sm-2 w-60" type="text" name="search[location]" placeholder="Enter City" aria-label="Search">
          </div>
      </div>
      <div class="d-flex">
        <div class="dropdown mr-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="categoryMenu">
            <div class="check-box mr-5">
              <% ["beginner", "intermediate", "photo"].each do |category| %>
                <div class="d-flex">
                  <label for="<%= category %>"><%= category.capitalize %></label>
                  <input  type="checkbox" value="<%= category %>" id="<%= category %>" name="search[package]">
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="dropdown mr-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Languages
          </button>
          <div class="dropdown-menu" aria-labelledby="languageMenu">
            <div class="check-box mr-5">
              <% ["English", "German", "French", "Spanish", "French", "Russian", "Japanese", "Korean"].each do |language| %>
              <div class="d-flex">
                <label for="<%= language %>"><%= language.capitalize %></label>
                <input  type="checkbox" value="<%= language %>" id="<%= language %>" name="search[language]">
              </div>
              <% end %>
            </div>
          </div>
        </div>
          <div class="dropdown mr-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="genderMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gender
            </button>
            <div class="dropdown-menu" aria-labelledby="genderMenu">
            <div class="check-box mr-5">
              <% ["Male", "Female", "Non-Binary"].each do |gender| %>
              <div class="d-flex">
                <label for="<%= gender %>"><%= gender.capitalize %></label>
                <input  type="checkbox" value="<%= gender %>" id="<%= gender %>" name="search[gender]">
              </div>
              <% end %>
            </div>
          </div>
          </div>
          <button class="btn btn-outline-success px-4 my-2 my-sm-0 align-self-end" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <% @instructors.each do |instructor| %>
    <% if instructor.photos.attached? %>
    <div class="col-md-12">
      <div class="costume-card card m-4 p-3 flex-row">
        <div class="row w-100">
          <div class="col-md-3">
            <%= cl_image_tag instructor.photos.first.key %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <div class="col-sm">
                  <div class="card-body">
                    <h3 class="card-title"><%= link_to instructor.user.first_name, instructor_path(instructor)  %></h3>
                    <p class="card-text"><%= instructor.description %></p>
                    <p>2do = Put Review Score Here</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <div class="col-sm">
                <div class="card-body">
                  <p>Put Category + Price Here<p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
</div>











