<div class = "container py-5">
<h3> Hello, <%= @user.first_name %></h3>
<h3>Complete your instructor profile</h3>
<%= simple_form_for(@instructor) do |f| %>
  <%= f.input :gender, :collection => ["male", "female", "non-binary"] %>
  <%= f.input :description, label: "Tell your students about you and your services" %>
  <%= f.input :phone, label: "Your Whatsapp phone number" %>
  
  <%= f.simple_fields_for :language do |z| %>
  <%= f.input :languages, collection: Language.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
  <% end %>
   <%= f.simple_fields_for :location do |z| %>
  <%= f.input :locations, collection: Location.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
  <% end %>
     <%= f.simple_fields_for :package do |z| %>
  <%= f.input :packages, collection: Package.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
  <% end %>

  <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload a profile picture" %>


   <%# f.input :photos, as: :file, input_html: { multiple: true }
  <%= f.simple_fields_for :tag do |z|  %>
   <%# f.input :tags, collection: Tag.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false
  end %>
  <%= f.submit "Create Profile", class: "btn btn-primary" %>
<% end %>
</div>
