<div class = "py-5 px-5">

  <div class="row w-100 justify-content-around">
    <div class="col-xs-12 col-md-7 shadow show-description-div">
      <div class="p-4">
        <h2><%= @instructor.user.first_name.capitalize %></h2>
        <div class="row col-12">
          <div class="column col-3 p-0">
            <p>Location:</p>
            <p>Languages:</p>
          </div>
          <div class="column col-9 p-0">
            <% @instructor.locations.each do |location| %>
              <p><%= location.name %></p>
            <% end %>
            <p>
            <% @instructor.languages.each do |language| %>
              <%= language.name %>
            <% end %>
            </p>
          </div>
          <div class=" col-12 p-0">
            <p><strong>Packages:</strong></p>
          </div>
          <div class="row w-100 ml-0">
            <div class="column col-3 p-0">
              <% @instructor.instructor_packages.each do |i_package| %>
              <p><%= i_package.package.title %>:</p>
              <% end %>
            </div>
            <div class="column col-9 p-0">
              <% @instructor.instructor_packages.each do |i_package| %>
                  <p><%= i_package.price %></p>
              <% end %>
            </div>
          </div>
        </div>
        <p class="shadow p-1"><%= @instructor.description %></p>
        <%= link_to "update packages", instructor_packages_path %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 shadow show-image-div">
        <div class="show-image">
        <% @instructor.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row w-100 mt-4 justify-content-around">

    <div class="col-xs-12 col-md-7 p-3 shadow show-review">
   <% if @instructor.reviews.empty? %>

      <h5>This instructor has no revies yet</h5>



   <% else %>
    <div class="col-xs-12 col-md-7 show-review helper-black">
      <h2>Reviews</h2>
      <% @instructor.reviews.each do |review| %>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Review from <%= review.user.first_name %></div>
        <div class="card-body">
          <h5 class="card-title"><%= review.title %></h5>
          <p class="card-text"><%= review.description %></p>
          <p class="card-text"><%= review.rating %></p>
          <%  review.rating.times do %>
            <i class="colornice fas fa-star"></i>
          <% end %>
        </div>
        </div>
      <% end %>
    <% end %>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 booking-form-wrapper text-dark shadow p-3 bg-white border-radius">
   <% if policy(Booking).new? %>
      <div class="container" >
        <h2 class="text-center">Book <%= @instructor.user.first_name.capitalize %></h2>
        <%= render "bookings/booking_form" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="m-3 p-3 button">
  <% if policy(@instructor).update? %>
    <%= link_to "Edit my Profile", edit_instructor_path(@instructor) %>
    <% end %>
    <% if current_user != @instructor.user %>
    <%= link_to "back", instructors_path %>
  <% end %>
  </div>
  </div>
</div>










