<%= simple_form_for (@booking) do |f| %>
  <%= f.association :instructor_package, collection: @instructor.instructor_packages.map { |i_package| ["#{i_package.package.title} #{'+ rental' if i_package.package.rental} #{'+ photo' if i_package.package.photographer}", i_package.id] }, label: "Choose a package"%>
  <%= f.input :description, as: :text, label: "Send #{@instructor.user.first_name} a brief message" %>
  <% if !@payment_method_exists %>
  <%= f.input :card_number, as: :string %>
  <div class="row">
    <div class="col-6">
      <%= f.input :exp_month, as: :integer, placeholder: "01" %>
    </div>
    <div class="col-6">
      <%= f.input :exp_year, as: :integer, placeholder: "2020" %>
    </div>
  </div>
  <%= f.input :cvv, as: :string, placeholder: "456"  %>
  <% end %>
  <%= f.submit "Complete Booking", class: "btn btn-primary" %>
<% end %>
