
<div class="center p-5">
<div class=" alert-secondary p-5 opacity-90" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <h4 class="alert-heading">Your booking has been requested!</h4>
  <br>
  <h6>Your card will be charged <%= @booking.price * 0.15 %> IDR once <%= @booking.instructor.user.first_name.capitalize %> accepts the booking </h3>
   <br>
   <ul style="list-style-type:none">
     <li>You will be notified via email and sms as soon as your instructor accepts the booking</li>
     <li>You will recieve the instructor's contact via email and sms</li>
     <li>The final amount of <%= @booking.price - (@booking.price * 0.15) %> will be paid in cash to your instructor during the lesson</li>
     </ul>
  <hr>
    <p class="mb-0">You are about to request <strong><%= @booking.package.title %></strong> for <strong><%= @booking.price * 0.15 %></strong></p>
      <br>
    <p class="mb-0"><strong>Your card will not charged</strong> before your instructor accepts the booking</p>
    <br>
     <%= link_to "GO TO YOUR DASHBOARD", dashboard_path, id: "pay", class: "btn btn-primary opacity-50" %>
</div>
</div>