<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand brand w-25" do %>
    <%= image_tag "logo.png" %>
    <% end %>
      <%= image_tag "shredlogo.png", height: 55 %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="w-25 d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <% if policy(Instructor).create? %>
            <% unless current_user.instructor %>
              <%= link_to "Become an instructor", new_instructor_path, class: "nav-link" %>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item hidden-md">
          <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
          <% if current_user.instructor&.id %>
            <%= link_to "View my profile", instructor_path(current_user.instructor), class: "dropdown-item" %>
          <% else %>
            <%= link_to "View all Instructors", instructors_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user&.instructor&.photos&.first %>
            <%= cl_image_tag current_user&.instructor&.photos.first.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "surfernoprofile.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <% if current_user.instructor&.id %>
              <%= link_to "View my profile", instructor_path(current_user.instructor), class: "dropdown-item" %>
            <% else %>
              <%= link_to "View all Instructors", instructors_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
