<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607433024/SHRED/Surfer-3_djliul.jpg", width: 400, height: 300, crop: :fill) %>;">
  <h2>Catch your Wave</h2>
  <p>Connecting Students with Instructors</p>
<<<<<<< HEAD
  <div class="column">
    <form class="d-flex flex-column align-items-center w-100 my-lg-0 justify-content-center column" action="/costumes">
      <div class="mb-3 form-input-wrapper"><input class="landing-input form-control mr-sm-2" type="text" name="search[city]" placeholder="Where do you want to surf?" aria-label="Search"></div>
      <div><button class="btn btn-outline-success button-secondary my-2 my-sm-0" type="submit">Lets go!</button></div>
    </form>
  </div>
=======
  <form class="form-inline my-lg-0 justify-content-center" action="/instructors">
      <input class="form-control mr-sm-2" type="text" name="search[location]" placeholder="Where do you want to surf?" aria-label="Search">
        <button class="btn btn-outline-success button my-2 my-sm-0" type="submit">Lets go!</button>
  </form>
>>>>>>> master
</div>
<div>
  <div class="container justify-content-center">
    <div class="py-3">
    <h2 style="text-align:center">Session Categories</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="button button-landing-card">Beginner Sessions</div>
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607437708/SHRED/Surfer-4_thefx7.jpg", width: 400, height: 300, crop: :fill) %>);"></div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="button button-landing-card">Intermediate Sessions</div>
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607410835/SHRED/Surfer-2_dmioyl.jpg", width: 400, height: 300, crop: :fill) %>);"></div>
      </div>
<<<<<<< HEAD
      <div class="col-12 col-lg-6">
        <div class="button button-landing-card">Photo Sessions</div>
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607437686/SHRED/Surfer-5_vjgyoe.jpg", width: 400, height: 300, crop: :fill) %>);"></div>
      </div>  
      <div class="col-12 col-lg-6">
        <div class="button button-landing-card">Video Sessions</div>
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607437686/SHRED/Surfer-6_fewc6u.jpg", width: 400, height: 300, crop: :fill) %>);"></div>
=======
      <div class="col-6">
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607437686/SHRED/Surfer-5_vjgyoe.jpg", width: 400, height: 300, crop: :fill) %>);">
          <p>Photo Sessions</p>
        </div>
      </div>
      <div class="col-6">
        <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607437686/SHRED/Surfer-6_fewc6u.jpg", width: 400, height: 300, crop: :fill) %>);">
          <p>Video Sessions</p>
        </div>
>>>>>>> master
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
