<div class="container">
    <p class="mt-5 p-2">Please choose which packages you would like to offer and enter a corresponding price:</p>
  <div class="row">
    <% @packages.each do |package| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="package-card" id="package-<%= package.id%>">
            <h3 class="text-center pt-2"><%= package.title %></h3>
            <% if package.duration %>
              <p><%= package.duration %> hours</p>
            <% end %>
            <% if package.rental %>
               <p>includes rental <%= image_tag "surfboard.png", class:"image-icon" %></p>
            <% end %>
            <% if package.photographer %>
              <p>includes photographer <%= image_tag "camera.png", class:"image-icon" %></p>
            <% end %>
            <% your_package = @instructor.has_package?(package) %>
            <% if !your_package && policy(InstructorPackage).create? %>
              <%= simple_form_for @instructor_package, remote: true do |f| %>
                <%= f.input :package_id, input_html: {value: package.id}, as: :hidden %>
                <%= f.input :price %>
                <div class="d-flex w-100 justify-content-center"><%= f.submit 'Add package', class: 'button' %></div>
              <% end %>
            <% else %>
              <% if policy(your_package).destroy? %>
                <%= link_to "Change Price", instructor_package_path(your_package), method: :delete, remote: true  %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="container d-flex justify-content-center mt-4">
    <%= link_to "Complete Profile", @instructor, :class => "complete-profile-btn" %>
  </div>
</div>
