<div class="h-100">
  <div class="row h-100">
    <div class="col-md-6 p-5">
      <h2 class="px-5"><strong>Welcome back</strong></h2>
      <div class="px-5">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div>
            <%= f.button :submit, "Sign in", class:"button-secondary mb-1" %>
            <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 devise-right" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "https://res.cloudinary.com/apbdevries/image/upload/v1607410877/SHRED/Surfer-1_pcgxo1.jpg", width: 400, height: 300, crop: :fill %>)">
      </div>
    </div>
  </div>
</div>