<div class = "container py-5">
<% if current_user.instructor %>
  <h2 class="text-center mt-1 mb-3">Your INCOMING Bookings</h2>
  <div class="row justify-content-center">
  <% @instructor_pending_bookings.each do |booking| %>
  <div class="column">
    <div class="card my-2 rounded" style="width: 18rem;">
      <div class="card-body">
        <div class="card-header booking-card-header d-flex justify-content-between">
          <h5><%= booking.instructor_package.package.title %></h5>
          <h6 class="text-muted">$<%= booking.instructor_package.price %></h6>
        </div>
        <p>Requested by: <%= booking.user.first_name %></p>
        <p class="card-text"><%= booking.description %></p>
        <p class="card-text">Status: <%= booking.status %></p>
        <div class="card-buttons">
          <% if booking.status == "pending" %>
            <% if policy(booking).accept? %>
              <%= link_to "ACCEPT", accept_booking_path(booking), method: :post, class: "btn btn-primary mr-2" %>
            <% end %>
            <% if policy(booking).accept? %>
              <%= link_to "REJECT", reject_booking_path(booking), method: :post, class: "btn btn-danger mr-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
<% else %>
  <h2 class="text-center mt-1 mb-3">Your Bookings</h2>
  <% @user_pending_bookings.each do |booking| %>
    <%= render "card", booking: booking %>
  <% end %>
  <% @user_accepted_bookings.each do |booking| %>
    <%= render "card", booking: booking %>
  <% end %>
<% end %>
</div>
