<h2>Leave a review for <%= @booking.instructor.user.first_name %></h2>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :rating, :collection => [1, 2, 3, 4, 5]%>

  <%= f.submit "Leave a review", class: "btn btn-primary" %>
<% end %>
